<nav class='navbar is-info' role='navigation' aria-label='main navigation'>
  <div class='navbar-brand'>
    <h1 class='navbar-item title' data-test-navbar='title'>Tabletop Amphitheatre</h1>
  </div>
  <div class='navbar-menu is-active'>
    <div class='navbar-end'>
      <div class='navbar-item'>
        <div class='buttons'>
          {{#if session.isAuthenticated}}
            {{#link-to 'authenticated.campaigns' class='button is-small' data-test-navbar='home'}}Home{{/link-to}}
            <a class='button is-small' {{action 'invalidateSession'}} data-test-navbar='logout'>Logout</a>
          {{else}}
            {{#link-to 'users.new' class='button is-small' data-test-navbar='sign-up'}}sign up{{/link-to}}
            {{#link-to 'login' class='button is-small' data-test-navbar='login'}}login{{/link-to}}
          {{/if}}
        </div>
      </div>
      {{#if currentUser.user}}
        <div class='navbar-item' data-test-navbar='username'>Logged in as {{currentUser.user.username}}</div>
      {{/if}}
    </div>
  </div>
</nav>
