{{!-- TODO: Update the route to be more dynamic while still working with the data test selector --}}
<li><LinkTo @route="authenticated.campaigns.show.{{link}}" @model={{campaign}} data-test-tab-link={{link}}>{{link}}</LinkTo></li>
