<div class='content box'>
  <div class='panel'>
    <h1 class='panel-heading' data-test-campaigns='header'>Your Campaigns</h1>
    {{#each model.campaigns as |campaign|}}
      {{#link-to 'authenticated.campaigns.show' campaign class='panel-block' data-test-campaigns='campaign-title'}}
        {{campaign.title}}

        <button type="button" name="button">
          {{#link-to 'authenticated.campaigns.edit' campaign data-test-campaigns='campaign-edit'}}
            edit
          {{/link-to}}
        </button>
      {{/link-to}}
    {{/each}}
  </div>

  {{#link-to 'authenticated.campaigns.new' class='button' data-test-campaigns='new'}}
    Create New Campaign?
  {{/link-to}}
</div>
