<div class='content box'>
  <h1 class='panel-heading'>Enter some info about your campaign</h1>
  <form class='field panel-heading' {{action 'createCampaign' on='submit'}}>
    {{form-input label='Title' field='title' type='input' placeholder="Enter your campaign's title" value=model.title}}
    {{form-input label='Description' field='description' type='input' placeholder="Enter your campaign's description" value=model.description}}

    <button class='button' type='submit' name='button'>submit</button>
    {{#link-to 'authenticated.campaigns.index' class='button'}}
      back
    {{/link-to}}
  </form>
</div>
