<div class='panel'>
  <h1 class='panel-heading'>{{campaign.title}}</h1>
  <div class='tabs'>
    <ul>
      {{#each links as |link|}}
        <li><a>{{link}}</a></li>
      {{/each}}
    </ul>
  </div>

  <div class='content'>
    {{outlet}}
  </div>

  {{#link-to 'authenticated.campaigns.index' class='button'}}
    Back
  {{/link-to}}
</div>
