<div class='content panel box'>
  <h1 class='panel-heading'>{{model.title}}</h1>
  <p class='panel-block'>{{model.description}}</p>

  {{#link-to 'authenticated.campaigns.index' class='button'}}
    Back
  {{/link-to}}
</div>
